.header-container {
  display: flex;
  justify-content: space-evenly;
  background: #435CC8;
  color: white;
  padding: 10px;
  /* position: fixed; */
  width: 100%;
  border-bottom:1px solid lightgray;
}

.header-search-bar-container {
  width: 70%;
}

.header-title-container {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.header-first {
  display: flex;
  justify-content: flex-start;
}

.header-button-container {
  display: flex;
  justify-content: center;
}

.header-first {
  width: 60%;
}

.header-button-container {
  width: 40%;
  display: flex;
  justify-content: flex-end
}

.header-cart,
.header-signin {
  width: 30%;

  margin: 0px 5px;
}

button {
  width: 100%;
}


h4 {
  cursor: pointer;
}

h4:focus {
  outline: none;
}

.header-button {
  border: 1px solid white !important;
  color: white !important;
  background: transparent!important;
}

.header-button:hover {
  border: 1px solid white !important;
  background: white !important;
  color: #232f3e !important;
}

:host /deep/ input[type="text"] {
  width: 80%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  background: transparent;
  color: white;
}

:host /deep/ input[type="text"]::placeholder {
  color: rgb(255, 255, 255, 1);
}

.account-btn {
  display: flex;
  justify-content: space-evenly;
}

:host /deep/ .ui-button.ui-button-text-icon-right .ui-button-text:focus {
  outline: none;
}

:host /deep/ .ui-button:enabled:focus {
  box-shadow: none !important;
}
