<div class="add-product-container">

  <!-- COMMON FIELD -->
  <div class="common-field-container">
    <form [formGroup]="addProductForm">
      <div class="field-group">
        <h6 id="product-title">Product Detail</h6>
      </div>
      <div class="field-group">
        <span class="ui-float-label field-small-group" *ngIf="enableAddOperation">
          <input id="float-input" type="text" pInputText formControlName="productName" pToolTip="Product name must be unique">
          <label for="float-input">Product Name</label>
        </span>
        <span class="ui-float-label field-small-group" *ngIf="enableAddOperation">
          <p-dropdown [editable]="true" (onChange)="selectSpecification($event)" formControlName="productType"
            [options]="productType"></p-dropdown>
          <label for="float-input">Product type</label>
        </span>

        <span class="ui-float-label field-small-group" *ngIf="enableUpdateOperation">
          <input id="float-input" type="text" pInputText formControlName="productName" readonly>
          <label for="float-input">Product Name</label>
        </span>
        <span class="ui-float-label field-small-group" *ngIf="enableUpdateOperation">
          <input id="float-input" type="text" pInputText formControlName="productType" readonly>
          <label for="float-input">Product type</label>
        </span>
      </div>

      <div class="field-group">
        <span class="ui-float-label field-small-group">
          <input id="float-input" type="text" pInputText formControlName="stock"  pToolTip="Stock must contain number">
          <label for="float-input">Stock</label>
        </span>
        <span class="ui-float-label field-small-group">
          <p-inputMask mask="9" slotChar="" formControlName="productDiscount"></p-inputMask>
          <label for="float-input">Discount(%)</label>
        </span>
      </div>

      <div class="field-group">
        <span class="ui-float-label field-small-group">
          <input id="float-input" type="text" pInputText formControlName="productBrand" pToolTip="Brand must be required and it should contain alphabets">
          <label for="float-input">Brand Name</label>
        </span>
        <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="productPrice"  pToolTip="Price must contain number">
          <label for="float-input">Price</label>
        </span>
      </div>

      <div class="field-group">
        <span class="ui-float-label field-small-group2">
          <p-dropdown [editable]="true" formControlName="productColor" [options]="colorSelection"></p-dropdown>
          <label for="float-input">Product Color</label>
        </span>
      </div>
      <div>
        <label id="desc-title">Description*</label>
      </div>
      <div class="field-group">
        <span class="ui-float-label field-desc-group2">
          <textarea [rows]="4" formControlName="description" pInputTextarea autoResize="true"></textarea>
        </span>
      </div>
    </form>
  </div>


  <!-- IMAGE -->
  <div class="image-field-container" *ngIf="enableAddOperation">
    <form [formGroup]="productImageForm">

      <div class="field-group">
        <h6 id="product-title">Product Image</h6>
      </div>
      <div class="field-group">
        <label id="image-name">Normal Image</label>
        <label id="image-name">List Image</label>
      </div>
      <div class="field-group">
        <span class="ui-float-label field-small-group1">
          <input id="float-input" type="file" (change)="onFileChanged($event)" formControlName="normalImage" pInputText
            accept="image/*">
        </span>
        <span class="ui-float-label field-small-group1">
          <input id="float-input" type="file" (change)="onFileChanged($event)" pInputText accept="image/*"
            formControlName="listImage">
        </span>
      </div>

      <div class="field-group">
        <label id="image-name">Left Image</label>
        <label id="image-name">Right Image</label>
      </div>
      <div class="field-group">
        <span class="ui-float-label field-small-group1">
          <input id="float-input" type="file" (change)="onFileChanged($event)" pInputText accept="image/*"
            formControlName="leftViewImage">
        </span>
        <span class="ui-float-label field-small-group1">
          <input id="float-input" type="file" (change)="onFileChanged($event)" pInputText accept="image/*"
            formControlName="rightViewImage">
        </span>
      </div>

      <div class="field-group">
        <label id="image-name">Back Image</label>
        <label id="image-name">Other Image</label>
      </div>
      <div class="field-group">
        <span class="ui-float-label field-small-group1">
          <input id="float-input" type="file" (change)="onFileChanged($event)" pInputText accept="image/*"
            formControlName="backViewImage">
        </span>
        <span class="ui-float-label field-small-group1">
          <input id="float-input" type="file" (change)="onFileChanged($event)" pInputText accept="image/*"
            formControlName="otherImage">
        </span>
      </div>
    </form>
  </div>

  <!-- OFFER -->
  <div class="offer-container">
    <form [formGroup]="productOfferForm">
      <div class="field-group">
        <h6 id="product-title">Eligibility Offer</h6>
      </div>
      <div class="field-group">
        <span class="ui-float-label field-small-group">
          <p-inputMask mask="9" slotChar="" formControlName="debitCard"></p-inputMask>
          <label for="float-input">Debit card</label>
        </span>
        <span class="ui-float-label field-small-group">
          <p-inputMask mask="9" slotChar="" formControlName="EMI"></p-inputMask>
          <label for="float-input">EMI</label>
        </span>
      </div>
    </form>
  </div>


  <!-- SPECIFICATION -->
  <div class="specification-container">
    <div class="add-watch-specification" *ngIf="enableWatchProductSpecification">
      <form [formGroup]="watchProductForm">
        <div class="field-group">
          <h6 id="product-title">Watch specification</h6>
        </div>
        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="displayType">
            <label for="float-input">Display Type</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="waterResistant">
            <label for="float-input">Water Resistant</label>
          </span>
        </div>

        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="styleCode">
            <label for="float-input">Style Code</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="series">
            <label for="float-input">Series</label>
          </span>
        </div>

        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="occasion">
            <label for="float-input">Occasion</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="watchType">
            <label for="float-input">Watch Type</label>
          </span>
        </div>


        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="calendar">
            <label for="float-input">Calendar</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="displayDate">
            <label for="float-input">Date</label>
          </span>
        </div>


        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="alarmClock">
            <label for="float-input">Alarm clock</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="waterResistanceDepth">
            <label for="float-input">Water Resistant Depth</label>
          </span>
        </div>



        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="bodyStrapMaterial">
            <label for="float-input">Strap Material</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="bodyStrapType">
            <label for="float-input">Strap Type</label>
          </span>
        </div>



        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="claspType">
            <label for="float-input">Clasp Type</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="box">
            <label for="float-input">Box</label>
          </span>
        </div>



        <div class="field-group">
          <span class="ui-float-label field-small-group3">
            <input id="float-input" type="text" pInputText formControlName="dimensionsThickness">
            <label for="float-input">Thickness</label>
          </span>
          <span class="ui-float-label field-small-group3">
            <input id="float-input" type="text" pInputText formControlName="dimensionsWidth">
            <label for="float-input">Width</label>
          </span>

          <span class="ui-float-label field-small-group3">
            <input id="float-input" type="text" pInputText formControlName="dimensionsDiameter">
            <label for="float-input">Diameter</label>
          </span>
          <span class="ui-float-label field-small-group3">
            <input id="float-input" type="text" pInputText formControlName="weight">
            <label for="float-input">Weight</label>
          </span>
        </div>


        <div class="field-group">
          <span class="ui-float-label field-small-group2">
            <input id="float-input" type="text" pInputText formControlName="others">
            <label for="float-input">Others</label>
          </span>
        </div>
      </form>
    </div>

    <div class="add-mobile-specification" *ngIf="enableMobileProductSpecification">
      <form [formGroup]="mobileProductForm">

        <div class="field-group">
          <h6 id="product-title">Mobile specification</h6>
        </div>
        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="modelName">
            <label for="float-input">Model Name</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="modelNo">
            <label for="float-input">Model Number</label>
          </span>
        </div>

        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="SIMType">
            <label for="float-input">SIM Type</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="box">
            <label for="float-input">In box</label>
          </span>
        </div>

        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <p-dropdown [editable]="true" [options]="selectionType" formControlName="touchscreen"></p-dropdown>
            <label for="float-input">Touchscreen</label>
          </span>
          <span class="ui-float-label field-small-group">
            <p-dropdown [editable]="true" [options]="selectionType" formControlName="hybridSIMSlot"></p-dropdown>
            <label for="float-input">Hybrid SIM slot</label>
          </span>
        </div>

        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="displaySize">
            <label for="float-input">Display Size</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="displayType">
            <label for="float-input">Display type</label>
          </span>
        </div>

        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="displayResolution">
            <label for="float-input">Display resolution</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="displayResolutionType">
            <label for="float-input">Display resolution type</label>
          </span>
        </div>

        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="os">
            <label for="float-input">Operating System</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="processor">
            <label for="float-input">Processor type</label>
          </span>
        </div>

        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="RAM">
            <label for="float-input">RAM size</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="ROM">
            <label for="float-input">ROM size</label>
          </span>
        </div>

        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="expandableStorage">
            <label for="float-input">Expandable storage</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="supportedCard">
            <label for="float-input">Supported Card Type</label>
          </span>
        </div>

        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="primaryCamera">
            <label for="float-input">Primary Camera</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="secondaryCamera">
            <label for="float-input">Secondary Camera</label>
          </span>
        </div>


        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="secondaryCameraFeatures">
            <label for="float-input">Secondary Features</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="processorCore">
            <label for="float-input">Processor core</label>
          </span>
        </div>

        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="smartPhone">
            <label for="float-input">Smart phone</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="batteryCapacity">
            <label for="float-input">Battery</label>
          </span>
        </div>

        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <p-inputMask mask="9" slotChar="" formControlName="SIMSize"></p-inputMask>
            <label for="float-input">SIM size</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="removableBattery">
            <label for="float-input">Removable battery</label>
          </span>
        </div>

        <div class="field-group">
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="graphicsPPI">
            <label for="float-input">Graphics PPI</label>
          </span>
          <span class="ui-float-label field-small-group">
            <input id="float-input" type="text" pInputText formControlName="sensors">
            <label for="float-input">Sensors</label>
          </span>
        </div>

        <div class="field-group">
          <span class="ui-float-label field-small-group2">
            <input id="float-input" type="text" pInputText formControlName="others">
            <label for="float-input">Others</label>
          </span>
        </div>

      </form>
    </div>
  </div>

  <div class="add-button-container" *ngIf="enableAddOperation">

    <ng-container *ngIf="enableMobileProductSpecification">
      <button pButton type="button" class="ui-button-secondary" (click)="resetForm()" label="Reset"></button>
      <button pButton type="button" class="ui-button-info" (click)="sendProduct()" label="Submit" [disabled]="addProductForm.invalid || mobileProductForm.invalid || productImageForm.invalid || productOfferForm.invalid"></button>
    </ng-container>
    <ng-container *ngIf="enableWatchProductSpecification">
      <button pButton type="button" class="ui-button-secondary" label="Reset"></button>
      <button pButton type="button" class="ui-button-info" (click)="sendProduct()" label="Submit" [disabled]="addProductForm.invalid || watchProductForm.invalid || productImageForm.invalid || productOfferForm.invalid"></button>
    </ng-container>
  </div>

  <div class="add-button-container" *ngIf="enableUpdateOperation">
    <ng-container *ngIf="enableMobileProductSpecification">
      <button pButton type="button" class="ui-button-secondary" (click)="resetForm()" label="Reset"></button>
      <button pButton type="button" class="ui-button-info" (click)="sendProduct()" label="Submit" [disabled]="addProductForm.invalid || mobileProductForm.invalid ||  productOfferForm.invalid"></button>
    </ng-container>
    <ng-container *ngIf="enableWatchProductSpecification">
      <button pButton type="button" class="ui-button-secondary" label="Reset"></button>
      <button pButton type="button" class="ui-button-info" (click)="sendProduct()" label="Submit" [disabled]="addProductForm.invalid || watchProductForm.invalid || productOfferForm.invalid"></button>
    </ng-container>
  </div>
</div>

<p-toast></p-toast>
