

.wrapper {
  display: flex;
  justify-content: flex-start;
  height: auto;
}

.sidebar {
  width: 20%;
  flex-direction: column;
  border: 1px solid lightgray;
}

.main {
  width: 80%;
  padding: 15px;
  justify-content: flex-start;
  border: 1px solid lightgray;
  border-left:none;
}

.btn-sample {
  width: 90%;
  margin: 5px;
  box-shadow: none;
  overflow: hidden !important;
}


:host /deep/ .tooltip {
  font-weight: bold;
  padding: 12px;
  background: #04404b;
  color: #fff;
  border-radius: 2px;
}
