<div class="wrapper">

  <div class="sidebar">
    <div class="container">
      <button class="btn btn-sample" routerLink="/svg-sample">SVG shapes</button>
      <button class="btn btn-sample" routerLink="/d3-sample">D3 Library</button>
      <button class="btn btn-sample" routerLink="/css-animations-sample">CSS Animation </button>
      <button class="btn btn-sample" routerLink="/svg-view-box-sample">Svg ViewBox</button>
      <button class="btn btn-sample" routerLink="/horizontal-bar-chart">Horizontal Bar chart</button>
      <button class="btn btn-sample" routerLink="/vertical-bar-chart">vertical Bar chart</button>
      <button class="btn btn-sample" routerLink="/stacked-bar">Stacked bar chart</button>
      <button class="btn btn-sample" routerLink="/horizontal-stacked-bar">Horizontal Stacked bar chart</button>
      <button class="btn btn-sample" routerLink="/pie-chart">Pie chart</button>
      <button class="btn btn-sample" routerLink="/group-bar-chart">Group Bar Chart</button>
      <button class="btn btn-sample" routerLink="/center-horizontal-stack-bar">Center-Horizontal-Stack</button>
      <button class="btn btn-sample" routerLink="/stack-group-bar-chart">Stack-Group-Bar-Chart</button>
      <button class="btn btn-sample" routerLink="/group-stack-bar-chart">Group-Stack-Chart</button>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
