<div class="wrapper">

  <div class="sidebar">
    <div class="container">
      <button class="btn btn-sample" routerLink="/svg-sample">SVG Shape</button>
      <button class="btn btn-sample" routerLink="/d3-sample">D3 DOM Manipulation</button>
      <button class="btn btn-sample" routerLink="/css-animation">CSS Animation </button>
      <button class="btn btn-sample" routerLink="/svg-view-box">Svg ViewBox</button>
      <button class="btn btn-sample" routerLink="/svg-bar-chart">SVG Bar chart</button>
      <button class="btn btn-sample" routerLink="/vertical-bar-chart">Vertical Bar chart</button>
      <button class="btn btn-sample" routerLink="/vertical-stacked-bar">Stacked bar chart</button>
      <button class="btn btn-sample" routerLink="/horizontal-stacked-bar">Horizontal Stacked bar chart</button>
      <button class="btn btn-sample" routerLink="/pie-chart">Pie chart</button>
      <button class="btn btn-sample" routerLink="/group-bar-chart">Group Bar Chart</button>
      <button class="btn btn-sample" routerLink="/center-horizontal-stack-bar">Center-Horizontal-Stack</button>
      <button class="btn btn-sample" routerLink="/stack-group-bar-chart">Stack-Group-Bar-Chart</button>
      <button class="btn btn-sample" routerLink="/group-stack-bar-chart">Group-Stack-Chart</button>
      <button class="btn btn-sample" routerLink="/layer-donut">Layered-Donut</button>
      <button class="btn btn-sample" routerLink="/bubble-chart">Bubble chart</button>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
