

.wrapper {
  display: flex;
  justify-content: flex-start;
  height: auto;
}

.sidebar {
  width: 20%;
  flex-direction: column;
  border: 1px solid lightgray;
}

.main {
  width: 80%;
  padding: 15px;
  justify-content: flex-start;
  border: 1px solid lightgray;
  border-left:none;
}

.btn-sample {
  width: 90%;
  margin: 5px;
  box-shadow: none;
  overflow: hidden !important;
}
:host /deep/ .tooltip {
  font-weight: bold;
  padding: 12px;
  background: #435CC8;
  color: #fff;
  border-radius: 2px;
}

:host /deep/ .tooltip1 {
  font-weight: bold;
  padding: 12px;
  background: white;
  border: 1px solid rebeccapurple;
  border-radius: 1px;
  color: hsl(189, 92%, 30%);
  height: 200px !important;
  width: 20% !important;
  padding: 0px;
}



:host /deep/ .tooltip1::after {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent rebeccapurple;
    position: absolute;
    right:-20px;
    top:40%;
}


:host /deep/ .tip {
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
}

:host /deep/  h4 {
  margin: 0px 7px 7px 7px !important;
 /* color:  */
}

:host /deep/  h6 {
  margin: 15px 10px 15px 5px !important;
  font-weight: 400 !important;
  font-family: 'Gentium Basic', serif;
}
:host /deep/ h5 {
  margin: 15px 10px 15px 5px !important;
  font-family: 'Headland One', serif;
}

:host /deep/ .tooltip1 .header {
  text-align: center !important;
  padding:5px 5px;
  background: #435CC8;
  color: white;
  font-family: 'Spectral SC', serif;
}

:host /deep/ button {
  box-shadow: none !important;
}
