<button (click)="sample1()">sample1</button>
<button (click)="sample2()">sample2</button>
<button (click)="sample3()">sample3</button>
<button (click)="sample4()">sample4</button>
<button (click)="sample5()">sample5</button>
<button (click)="sample6()">sample6</button>

<!-- DOM text change -->
<p>Sample works!!!</p>

<button>Sample</button>

<div class="container">

</div>
<!-- Add text from array to the child elements -->
<div class="container1">
  <p></p>
  <p></p>
  <p></p>
</div>

<!-- Change property of an element based on condition -->
<div class="container2">
  <p>Error: error.</p>
  <p>Warning: warning.</p>
</div>

<div class="container3">
  <h4>ASPIRE SYSTEM</h4>
</div>

<!-- Child element text change -->
<div class="container4">
  <p>AAAAAA</p>
  <p>BBBBBB</p>
  <p>CCCCCC</p>
</div>

<div class="container5">
</div>
