<div class="header-search-bar-container">
  <input type="text" placeholder="Search for product..."  pKeyFilter="alpha" [(ngModel)]="productType" />
  <!-- <p-autoComplete [(ngModel)]="productType" [suggestions]="result" field="name"></p-autoComplete> -->
  <a (click)="sendProductType()"><u><i class="material-icons">
        search
      </i></u></a>
  <!-- <button pButton type="button" icon="pi pi-search" class="ui-button-info" label="search" iconPos="left" (click)="sendProductType()"></button> -->
</div>
