.fp-title-container {
  text-align: center;
  color: steelblue;
  display: flex;
  justify-content: space-between;
}

.fp-container{
  margin-top: 20px;
}

.fp-phone {
  width: 100%;
}
.fp-email-container {
margin-top: 20px;
}

.fp-button-container, .fpOTP-button-container, .fpPassword-button-container{
  padding-top: 10px;
}

.btn-fpOTP, .btn-fp {
  width: 80% !important;
}

.btn-fpPassword {
  width: 80% !important;
}


mat-vertical-stepper {
  padding-top:10px;
}



:host /deep/ .ui-inputtext {
  font-size: 14px;
  color: #333333;
  background: #ffffff;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  width: 80%;
}

:host /deep/ .ui-inputtext:focus {
  border: none !important;
  border-bottom: 1px solid #66afe9 !important;
}


i{
  cursor: pointer;
}


button:disabled {
  cursor: not-allowed;
}

:host /deep/ .ui-button:enabled:focus {
  box-shadow: none !important;
}
