.container {
  border: 1px solid yellowgreen;
  height: 200px;
}

.animate {
  border: 1px solid steelblue;
  transform: translate(30px, 50px) rotate(20deg);
  width: 140px;
  height: 60px;
}


.container1 {
  border: 1px solid yellowgreen;
  height: 200px;
  margin: 5px 0px;
}

.animate1 {
  border: 1px solid steelblue;
  transform: scale(0.8);
  width: 140px;
  height: 60px;
}
